PreProcTool/source/config/xsd/project_file.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="landisPreProcProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="input">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="scenarios">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="scenario" maxOccurs="unbounded" minOccurs="1">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="inputPath"/>
                            <xs:attribute name="displayName" use="optional">
                              <xs:simpleType>
                                <xs:restriction base="xs:token">
                                  <xs:minLength value="1"/>
                                </xs:restriction>
                              </xs:simpleType>
                            </xs:attribute>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="spatialRefernce">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="projection">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="proj4"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="extent">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:float" name="ulx"/>
                            <xs:attribute type="xs:float" name="uly"/>
                            <xs:attribute type="xs:float" name="lrx"/>
                            <xs:attribute type="xs:float" name="lry"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="output">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="webVisConfig">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="map">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="zoom">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="min">
                                    <xs:simpleType>
                                      <xs:restriction base="xs:byte">
                                        <xs:minInclusive value="0"/>
                                        <xs:maxInclusive value="18"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:attribute>
                                  <xs:attribute name="max">
                                    <xs:simpleType>
                                      <xs:restriction base="xs:byte">
                                        <xs:minInclusive value="0"/>
                                        <xs:maxInclusive value="18"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:attribute>
                                  <xs:attribute name="init">
                                    <xs:simpleType>
                                      <xs:restriction base="xs:byte">
                                        <xs:minInclusive value="0"/>
                                        <xs:maxInclusive value="18"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:attribute>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="baseMap">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="source"/>
                                  <xs:attribute name="brightness">
                                    <xs:simpleType>
                                      <xs:restriction base="xs:float">
                                        <xs:minInclusive value="-1"/>
                                        <xs:maxInclusive value="1"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:attribute>
                                  <xs:attribute name="contrast">
                                    <xs:simpleType>
                                      <xs:restriction base="xs:float">
                                        <xs:minInclusive value="0"/>
                                        <xs:maxInclusive value="2"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:attribute>
                                  <xs:attribute name="saturation">
                                    <xs:simpleType>
                                      <xs:restriction base="xs:float">
                                        <xs:minInclusive value="0"/>
                                        <xs:maxInclusive value="2"/>
                                      </xs:restriction>
                                    </xs:simpleType>
                                  </xs:attribute>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="legend">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:byte" name="initClassCount"/>
                                  <xs:attribute type="xs:string" name="sequentialCol"/>
                                  <xs:attribute type="xs:string" name="divergingCol"/>
                                  <xs:attribute type="xs:string" name="qualitativeCol"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="projectName" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>