src/PreProcTool/src/config/xsd/backup_project_file.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="landisPreProcProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="scenarios">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="scenario" maxOccurs="unbounded" minOccurs="1">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="inputPath"/>
                      <xs:attribute name="displayName" use="optional">
                      <xs:simpleType>
                          <xs:restriction base="xs:token">
                            <xs:minLength value="1"/>
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="spatialRefernce">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="projection">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="proj4"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="extent">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:float" name="ulx"/>
                      <xs:attribute type="xs:float" name="uly"/>
                      <xs:attribute type="xs:float" name="lrx"/>
                      <xs:attribute type="xs:float" name="lry"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="projectName" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>